body {
  font-family: Arial, sans-serif;
  /* background-color: #f0f0f0; */
  margin: 0;
  background-image: url("https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80");
}

/* navbar */
.main-header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1211ca;
  color: white;
  padding: 10px 20px;
  z-index: 100;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 15px;
  margin: 30px;
  padding: 0;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 5px 8px;
  border-radius: 4px;
}

nav a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

main {
  padding: 100px;
}
.about-section {
  display: flex;
  gap: 20px;
  padding: 40px;
  align-items: center;
  flex-wrap: wrap;
}
.about-text {
  flex: 2;
  min-width: 250px;
}

.about-image {
  flex: 1;
  min-width: 200px;
}
h2 {
  text-align: center;
  color: #1211ca;
}
/* Button */
button {
  background-color: #1211ca;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #3938d2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* skills */
.skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  margin: 3rem 20px;
}
.skill {
  background-color: white;
  padding: 2rem 1rem;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.skill:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.skill i {
  font-size: 3rem;
  /* color: #1211ca; */
  margin-bottom: 1rem;
}
.fa-html5 {
  color: #e34f26;
}
.fa-css3-alt {
  color: #1572b6;
}
.fa-js-square {
  color: #f7df1e;
}
.fa-python {
  color: #3776ab;
}

/* contact me */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  margin:  0 auto 40px auto;
}
.contact-form input,
.contact-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}
.contact-form  {
  grid-column: span 2;
  background-color: #0000be;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form  button {
  background-color: #2800b8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.contact-form  button:hover {
  background-color: #3938d2;
  color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #1211ca;
  color: white;
  font-weight: bold;
}
